js/firebase.js
firebase.txt
.DS_Store
.vscode
Materials/memo_account.txt
Materials/memo_flow.txt
functions/.secret.local

# Firebase / logs
.firebase/
firebase-debug.log

# Node
node_modules/

# Secrets / env
functions/.secret.local
functions/.env
functions/.env.*